[submodule "submodules/pipelines"]
	path = submodules/pipelines
	url = git@github.com:frazer-lab/pipelines.git
[submodule "submodules/cdpybio"]
	path = submodules/cdpybio
	url = git@github.com:cdeboever3/cdpybio.git
[submodule "submodules/WASP"]
	path = submodules/WASP
	url = https://github.com/bmvdgeijn/WASP.git
